# Requires Python 3.10 or higher
streamlit==1.20.0
opencv-python==4.6.0.66
easyocr==1.4.1
torch==1.13.0
torchvision==0.14.0
transformers==4.21.1
Pillow==9.2.0
numpy==1.23.1
requests==2.28.1
sqlalchemy==1.4.39
configparser==5.3.0
